:root {
  --homeshell-base: #13140d;
  --homeshell-base_alt: #1f2019;
  --homeshell-text: #e4e3d7;
  --homeshell-muted: #c7c8b8;
  --homeshell-accent: #bdce80;
  --homeshell-amber: #a1d0c5;
  --homeshell-red: #ffb4ab;
  --homeshell-teal: #c4caa9;
  --homeshell-border_accent: #c1cb98;
}
